body {
  background-color: #e6ffff;
}

h1 {
  color: black;
  text-align: center;
}

h2 {
  color: black;
  text-align: center;
}

h3 {
  color: black;
  text-align: center;
}

h4 {
  color: black;
  text-align: center;
}

h5 {
  color: black;
  text-align: center;
}

h6 {
  color: black;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}

.usualParagraph {
  color: green
}

.alertParagraph {
  color: red
}

#w3cImage {
  float:right;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.cyan {
  background-color: cyan;
}

.magenta {
  background-color: magenta;
}

.pink {
  background-color: pink;
}

